body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 0.6;
}
.h2{
    font-size: 40px;
}
p{
    color: dimgray;
    word-spacing: -1px;
}
.name-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: repeat-x;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: repeat-x;
}